.containerBanner{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .banner{
    width: 90%;
    height: 130px;
    background-color: #dcdcdc;
    align-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    background-image: url(../../assets/images/artesano.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imgBanner{
    width: 60%;
    /* height: 50px; */
    margin: 30px auto;
    padding: 0 1rem;
    background-color: var(--btn-color);
    border-radius: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: sans-serif;
  }
