/* *{
  
  font-family: 'Space Grotesk' , sans-serif;
} */




.icons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  cursor: pointer;
 
}

.icon {
  padding: 8px;
  background-color: #dcdcdc;
  border-radius: 5px;
}
.notificacion{
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 99;
  border-radius: 50px;
  position: absolute;
  margin-left: -25px;
  margin-top: -10px;
  color: white;
  align-items: center;
  text-align: center;
}

.icon:hover {
  background-color: #bebebe;
}

/* Media Query para hacer el header responsive */


  .userLogin {
    width: 100%; /* Ocupa todo el ancho disponible */
    width: 150px;
    align-self: flex-end;
  }

  .icons {
    justify-content: center; /* Centra los iconos en la versión móvil */
  }


/* FIN HEADER */


/* BANNER */
.containerBanner{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.banner{
  width: 90%;
  height: 100px;
  background-color: #dcdcdc;
  align-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5px;
}
.imgBanner{
  width: 50%;
  height: 40px;
  margin: 30px auto;
  background-color: rgb(6, 223, 223);
  border-radius: 50px;
  color: black;
}



/* FIN BANNER */



/* CATEGORIA */
.categorias{
  margin-top: 20px;
  display: flex;
  justify-content: space-around
  
  
}

.categoria{
  width: 70px;
  height: 70px;
  background-color: #dcdcdc;
  border-radius: 10px;
}

/* FIN CATEGORIA */

/* TARJETA */
.tarjetas{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.containerTarjeta{
  margin-top: 20px;
  width: 50%;
  height: 30vh;
  border-radius: 10px;
  background-color: rgb(3, 226, 226);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

}
.imgTarjeta{
  width: 90%;
  height: 50%;
  border-radius: 10px;
}

.botonesTarjeta{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.prodName{
  width: 90;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.botonesTarjeta2{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  
}
.price{
  width: 130px;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
}



/* FIN TARJETA */