.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.containerTarjeta {
  flex-basis: calc(50% - 15px);
  max-width: 200px;
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  background-color: var(--color-card);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.imgTarjeta {
  width: 90%;
  height: 50%;
  border-radius: 10px;
  margin-top: 1vh;
}

.botonesTarjeta {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.prodName {
  width: 90%;
  height: 5vh;
  border-radius: 10px;
  border: none;
  margin-top: 1vh;
  margin-left: 1vh;
}

.botonesTarjeta2 {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
}

.price {
  width: 12vh;
  height: 5vh;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
  margin-left: 1vh;
  font-family: 'Manrope', sans-serif;
  font-size: 3vh;
}

@media (max-width: 600px) {
  .grid-container {
    justify-content: center;
  }

  .containerTarjeta {
    flex-basis: calc(50% - 15px);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .grid-container {
    justify-content: center;
  }

  .containerTarjeta {
    flex-basis: calc(33.33% - 15px);
  }
}

@media (min-width: 901px) {
  .grid-container {
    justify-content: center;
    max-height: 120vh; 
  }

  .containerTarjeta {
    flex-basis: calc(25% - 15px);
  }
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}